
<h3>Footer!</h3>

</body>
<script type="text/javascript" src="/scripts/jquery-3.3.1.slim.minjs"></script>
<script type="text/javascript" src="/scripts/popper.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap4.min.js"></script>
</html>