
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
    		<img src="/res/logo.png" class="img-fluid" alt="Responsive image">
    	</div>
	</div>
	<script src="/scripts/jquery-3.3.1.slim.min.js"></script>
	<script src="/scripts/popper.min.js"></script>
	<script src="/scripts/bootstrap4.min.js"></script>
</body>
</html>