<!DOCTYPE html>
<html>
<head>
	<title>Ciric</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
  		<a class="navbar-brand" href="/">Ciric</a>
 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    		<div class="navbar-nav container">
      			<a class="nav-item nav-link" href="/cazare">Cazare</a>
      			<a class="nav-item nav-link" href="/restaurant">Restaurant</a>
      			<a class="nav-item nav-link" href="/conferinte">Conferinte</a>
      			<a class="nav-item nav-link" href="/agrement">Agrement</a>
    		</div>
    		<div class="navbar-nav container d-felx flex-md-row-reverse">
      			<a class="nav-item nav-link" href="/galerie">Galerie</a>
      			<a class="nav-item nav-link" href="/contact">Contact</a>
      			<a class="nav-item nav-link" href="/evenimente">Evenimente</a>
    		</div>
  		</div>
	</nav>


